<div class="row">
  <div class="col-lg-offset-1 col-sm-offset-1">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field row col-lg-5">
        <%= f.label :email %><br />
        <%= f.email_field :email, class:'form-control', autofocus: true %>
      </div>
        <div class="clearfix"></div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
        <div class="clearfix"></div>

      <div class="field row col-lg-5">
        <%= f.label :username %><br />
        <%= f.text_field :username, class:'form-control', autocomplete: "off" %>
      </div>
        <div class="clearfix"></div>

      <div class="field row col-lg-5">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, class:'form-control', autocomplete: "off" %>
      </div>
        <div class="clearfix"></div>

      <div class="field row col-lg-5">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class:'form-control', autocomplete: "off" %>
      </div>
        <div class="clearfix"></div>

      <div class="field row col-lg-5">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, class:'form-control', autocomplete: "off" %>
      </div>
        <div class="clearfix"></div>

        <br/>
      <div class="actions">
        <%= f.submit "Update", class:'btn btn-primary' %>
      </div>
    <% end %>

    <hr/>

    <h3>Cancel my account</h3>

    <%= button_to "Cancel my account", registration_path(resource_name), class:'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
    <br/>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-1 col-sm-offset-1">
    <%= link_to "Back", profile_view_path, class:'btn btn-primary' %>
  </div>
  <br/>
</div>
