<div class="row">
  <div class="col-lg-offset-1 col-sm-offset-1">
        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field row col-lg-5 col-sm-5">
            <%= f.label :email %><br />
            <%= f.email_field :email, class:'form-control', autofocus: true %>
          </div>
        <div class="clearfix"></div>

            <div class="field row col-lg-5 col-sm-5">
              <%= f.label :username %><br />
              <%= f.text_field :username, class:'form-control', autocomplete: "off" %>
            </div>
        <div class="clearfix"></div>

          <div class="field row col-lg-5 col-sm-5">
            <%= f.label :password %>
            <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <br />
            <%= f.password_field :password, class:'form-control', autocomplete: "off" %>
          </div>
        <div class="clearfix"></div>

          <div class="field row col-lg-5 col-sm-5">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, class:'form-control', autocomplete: "off" %>
          </div>
        <div class="clearfix"></div>
          <br/>
          <div class="actions">
            <%= f.submit "Sign up", class:'btn btn-primary' %>
          </div>
        <% end %>
    </div>
  <hr/>
</div>
<div class="row">
  <div class="col-lg-offset-1 col-sm-offset-1">
    <%= render "devise/shared/links" %>
  </div>
</div>