<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name), class:'btn btn-primary' %><br /><br/>
<% end -%>

<%- if devise_mapping.omniauthable? %>
    <div class="btn-toolbar">
      <%- resource_class.omniauth_providers.each do |provider| %>
          <% if provider.to_s.downcase == 'facebook' %>
              <% @provider_name = 'Facebook'.titleize %>
          <% elsif provider.to_s.downcase == 'google_oauth2' %>
              <% @provider_name = 'Google'.titleize %>
          <% else %>
              <% @provider_name = provider.to_s.titleize %>
          <% end %>
          <%= link_to "Sign in with #{@provider_name}", omniauth_authorize_path(resource_name, provider), class:'btn btn-primary' %><br /><br/>
      <% end -%>
    </div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name), class:'btn btn-default' %><br /><br/>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name), class:'btn btn-danger' %><br /><br/>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class:'btn btn-primary' %><br /><br/>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class:'btn btn-primary' %><br /><br/>
<% end -%>
