<div class="media">
  <div class="media-body">
    <h1 class="text-center">Admin</h1>
    <hr/>
    <div class="col-lg-12 col-sm-12">
      <%= form_tag(admin_path(0), method: :get) do %>
          <%= text_field_tag :keyword, nil, class:'field col-lg-offset-1 col-lg-7 col-sm-offset-1 col-sm-7', placeholder:'Search by Username or Email...' %>
          <!--<input type="text" class="field col-lg-offset-1 col-lg-7 col-sm-offset-1 col-sm-7" placeholder="Search by Username or Email..."/>-->
          <%= submit_tag 'Search', class:'btn btn-primary col-lg-offset-1 col-lg-2 col-sm-offset-1 col-sm-2 ' %>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <hr/>
    <table class="table">
      <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= if(user.role == GlobalConstants::PLAYER)
                    'Player'
                elsif(user.role == GlobalConstants::REVIEWER)
                  'Reviewer'
                end %></td>
        <td>
          <div class="btn-toolbar">
            <%= link_to 'Edit User', admin_edit_user_path(user.id), class: 'btn btn-xs btn-success' %>
          </div>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
    <% if @total_pages > 1 %>
        <div class="text-center">
          <%= link_to 'Prev', admin_path(@current_page - 1, @keyword), class: (@current_page == 0 ? 'btn disabled' : 'btn') %>
          <% (0...@total_pages).each do |page_number| %>
              <%=  link_to_if page_number != @current_page, (page_number + 1), admin_path(page_number, @keyword), class: 'btn' do %>
                  <span class="btn"><%= page_number + 1 %></span>
              <% end %>
          <% end %>
          <%= link_to 'Next', admin_path(@current_page + 1, @keyword), class: (@current_page + 1 == @total_pages ? 'btn disabled' : 'btn') %>
          <p>Page <%= @current_page + 1 %> of <%= @total_pages %></p>
        </div>
        <div class="clearfix"></div>
    <% end %>
    <hr/>
  </div>
</div>