<div class="media">
  <div class="media-body">
    <h1 class="text-center">Edit User</h1>
    <hr/>
    <%= form_for(@user, url: admin_update_user_path(@user.id), method: :post) do |f| %>
        <label class="col-lg-1 col-sm-1">Username</label> <p><%= @user.username %></p>
        <div class="clearfix"></div>
        <label class="col-lg-1 col-sm-1">Email</label> <p><%= @user.email %></p>
        <div class="clearfix"></div>
        <label class="col-lg-1 col-sm-1">Role</label>
        <%= select_tag(:user_role, options_from_collection_for_select(@user_roles, 'constant_id', 'name', @user.role)) %>
        <div class="clearfix"></div>
        <hr/>
        <div class="actions">
          <%= link_to "Back", admin_path(0), class:'btn btn-default' %>
          <%= f.submit "Submit", class:'btn btn-primary' %>
        </div>
    <% end %>
  <hr/>
  </div>
</div>