var runCountdown = function(){
    clearInterval(question_countdown_interval);
    var countdownBar = document.getElementById('countdown-bar');
    var time = 0.0;
    $(countdownBar).css('width', '0%')
    $('#countdown_header').text(90);
    $('#countdown_header').css('color', 'black');
    $(countdownBar).removeClass('progress-bar-warning');
    $(countdownBar).removeClass('progress-bar-danger');
    $(countdownBar).addClass('progress-bar-success');

    $('#currency_header_amount').text(<%= current_user.currency %>);
    $('#extend_time_powerup_btn').addClass('disabled');


    var fiftyFiftyCost = (<%= @is_crown_or_challenge ? GlobalConstants::FIFTY_FIFTY_CROWN_COST : GlobalConstants::FIFTY_FIFTY_REGULAR_COST %>);
    var skipQuestionCost = (<%= @is_crown_or_challenge ? GlobalConstants::SKIP_QUESTION_CROWN_COST : GlobalConstants::SKIP_QUESTION_REGULAR_COST %>);
    if((<%= current_user.currency %>) < fiftyFiftyCost){
        $('#fifty_fifty_powerup_btn').addClass('disabled');
    }
    if((<%= current_user.currency %>) < skipQuestionCost){
        $('#skip_question_powerup_btn').addClass('disabled');
    }

    setTimeout(function(){
        question_countdown_interval = setInterval(function(){
            if(time + 0.1 > 90.0){
                clearInterval(this.question_countdown_interval);
                $('#unanswered_question_remote_call')[0].click();
            } else{
                time += 0.1;
                $('#countdown_header').text('' + Math.round(90.0 - time));
                if(time > 44.5 && time < 79.5){
                    $('#countdown_header').css('color', 'orange');
                    $(countdownBar).addClass('progress-bar-warning');
                }
                else if(time >= 79.5){
                    $('#countdown_header').css('color', 'red');
                    $(countdownBar).addClass('progress-bar-danger');
                }
                $(countdownBar).css('width', '' + ((time / 90.0) * 100.0) + '%')
            }
        }, 100);
    }, 500);
}

runCountdown();