var hideTwoIncorrectAnswerChoices = function(){
    var incorrectAnswerChoices = $('div[id^="incorrect_answer"]')
    for(var i = 0; i < 2 && i < incorrectAnswerChoices.length; i++){
        $(incorrectAnswerChoices[i]).parent().addClass('hidden');
    }

    var extendTimeCost = (<%= @is_crown_or_challenge ? GlobalConstants::EXTEND_TIME_CROWN_COST : GlobalConstants::EXTEND_TIME_REGULAR_COST %>);
    var skipQuestionCost = (<%= @is_crown_or_challenge ? GlobalConstants::SKIP_QUESTION_CROWN_COST : GlobalConstants::SKIP_QUESTION_REGULAR_COST %>);
    if((<%= current_user.currency %>) < extendTimeCost){
        $('#extend_time_powerup_btn').addClass('disabled');
    }
    if((<%= current_user.currency %>) < skipQuestionCost){
        $('#skip_question_powerup_btn').addClass('disabled');
    }

    $('#currency_header_amount').text(<%= current_user.currency %>);
    $('#fifty_fifty_powerup_btn').addClass('disabled');
}

hideTwoIncorrectAnswerChoices();