var renderAnswerResult = function() {
    clearInterval(question_countdown_interval);
    $('#currency_header_amount').text(<%= current_user.currency %>);
    $('#skip_question_powerup_btn').addClass('disabled');
    $('#answer_result_modal_div').append('<%= j render 'question/modals/answer_result_modal' %>');
    $('#correct_answer').addClass('correct-answer');
    $("<%= '#incorrect_answer_' + (@chosen_answer.nil? == false ?@chosen_answer.id.to_s : '') %>").addClass('incorrect-answer');
    $('#answer_result_modal').modal('show');
}

renderAnswerResult();