<div class="media">
  <div class="media-heading">
    <div class="text-center">
      <div class="col-lg-1 col-sm-1">
        <img class="image-icon" src="<%= image_path(@game_piece_image_url) %>"/>
      </div>
      <div class="col-lg-10 col-sm-10">
        <h3><%= @category.name.to_s.capitalize %></h3>
        <br/>
        <div class="progress">
          <div id="countdown-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
          </div>
        </div>
        <h4 id="countdown_header" class="text-center"><%= GlobalConstants::QUESTION_TIME_LIMIT.to_s %></h4>
      </div>
      <div class="col-lg-1 col-sm-1">
        <img class="image-icon" src="<%= image_path(@game_piece_image_url) %>"/>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <hr/>
  <div class="media-body">
    <div>
      <div class="col-lg-12 col-sm-12 question-box">
        <h4 class="vertical-center">
          <%= @question.question_string %>
        </h4>
      </div>
      <div class="clearfix"></div>
    </div>
    <br/>

    <% @answers.each_with_index do |answer, index| %>
            <div class="col-lg-offset-1 col-sm-offset-1">
              <%if @is_challenge == :true.to_s %>
                  <%= link_to answered_question_path(@game.id, @question.id, answer, @is_crown, @is_challenge, @challenge.id), remote: true do %>
                  <div class="col-lg-11 col-sm-11 answer-choice-box-selectable" id="<%= answer.is_correct == false ? 'incorrect_answer_' + answer.id.to_s : 'correct_answer' %>">
                    <h4 class="vertical-center"><%= answer.answer_string %></h4>
                  </div>
                  <% end %>
              <% else %>
                  <%= link_to answered_question_path(@game.id, @question.id, answer, @is_crown, @is_challenge), remote: true do %>
                      <div class="col-lg-11 col-sm-11 answer-choice-box-selectable" id="<%= answer.is_correct == false ? 'incorrect_answer_' + answer.id.to_s : 'correct_answer' %>">
                        <h4 class="vertical-center"><%= answer.answer_string %></h4>
                      </div>
                  <% end %>
              <% end %>
              <div class="clearfix"></div>
            </div>
    <% end %>
    <hr/>

    <div class='power-ups'>

      <div class="col-lg-4 col-sm-4 text-center divider-right">
        <%= form_tag(power_up_fifty_fifty_path((@is_crown == 'true' || @is_challenge == 'true').to_s), method: :get, remote: true) do %>
            <div class="col-lg-12 col-sm-12">
              <% if @is_crown == :true.to_s || @is_challenge == :true.to_s %>
                  <%= submit_tag '50/50', class: (current_user.currency >= GlobalConstants::FIFTY_FIFTY_CROWN_COST) ? 'btn btn-primary' : 'btn btn-primary disabled', id:'fifty_fifty_powerup_btn' %>
              <% else %>
                  <%= submit_tag '50/50', class: (current_user.currency >= GlobalConstants::FIFTY_FIFTY_REGULAR_COST) ? 'btn btn-primary' : 'btn btn-primary disabled', id:'fifty_fifty_powerup_btn' %>
              <% end %>
            </div>
        <% end %>
        <br/><br/>
        <h5>Cost: <%= (@is_crown == 'true' || @is_challenge == 'true') ? GlobalConstants::FIFTY_FIFTY_CROWN_COST : GlobalConstants::FIFTY_FIFTY_REGULAR_COST %> Coins</h5>
      </div>

      <div class="col-lg-4 col-sm-4 text-center divider-right">
        <%= form_tag(power_up_extend_time_path((@is_crown == 'true' || @is_challenge == 'true').to_s), method: :get, remote: true) do %>
            <div class="col-lg-12 col-sm-12">
              <% if @is_crown == :true.to_s || @is_challenge == :true.to_s %>
                  <%= submit_tag 'Extend Time', class: (current_user.currency >= GlobalConstants::EXTEND_TIME_CROWN_COST) ? 'btn btn-primary' : 'btn btn-primary disabled', id:'extend_time_powerup_btn' %>
              <% else %>
                  <%= submit_tag 'Extend Time', class: (current_user.currency >= GlobalConstants::EXTEND_TIME_REGULAR_COST) ? 'btn btn-primary' : 'btn btn-primary disabled', id:'extend_time_powerup_btn' %>
              <% end %>
            </div>
        <% end %>
        <br/><br/>
        <h5>Cost: <%= (@is_crown == 'true' || @is_challenge == 'true') ? GlobalConstants::EXTEND_TIME_CROWN_COST : GlobalConstants::EXTEND_TIME_REGULAR_COST %> Coins</h5>
      </div>

      <div class="col-lg-4 col-sm-4 text-center divider-right">
        <%= form_tag(power_up_skip_question_path(@game.id, @question.id, @correct_answer, @is_crown, @is_challenge, true, @is_challenge == true ? @challenge.id : -1), method: :get, remote: true) do %>
            <div class="col-lg-12 col-sm-12">
              <% if @is_crown == :true.to_s || @is_challenge == :true.to_s %>
                <%= submit_tag 'Skip Question', class: (current_user.currency >= GlobalConstants::SKIP_QUESTION_CROWN_COST) ? 'btn btn-primary' : 'btn btn-primary disabled', id:'skip_question_powerup_btn' %>
              <% else %>
                  <%= submit_tag 'Skip Question', class: (current_user.currency >= GlobalConstants::SKIP_QUESTION_REGULAR_COST) ? 'btn btn-primary' : 'btn btn-primary disabled', id:'skip_question_powerup_btn' %>
              <% end %>
            </div>
        <% end %>
        <br/><br/>
        <h5>Cost: <%= (@is_crown == 'true' || @is_challenge == 'true') ? GlobalConstants::SKIP_QUESTION_CROWN_COST : GlobalConstants::SKIP_QUESTION_REGULAR_COST %> Coins</h5>
      </div>

    </div>
  </div>
  <hr/>
</div>
<%= link_to answered_question_path(@game.id, @question.id, -1, @is_crown, @is_challenge, (@is_challenge == true ? @challenge.id: -1), true), class:'hidden', id: 'unanswered_question_remote_call', remote: true do %><% end %>
<div id="answer_result_modal_div"></div>

<!--scripts-->
<script src="<%= javascript_path('question_countdown.js') %>" type="application/javascript"></script>