<div class="text-center">
  <h2>Choose the Character You Want</h2>
</div>
<hr/>
<div class="media-body">
  <%= form_tag(challenge_setup_path, method: :get, multipart: true) do %>
      <%= hidden_field_tag :game_id, @game.id %>
          <div class="row">
            <div>
              <% @game_pieces.each_with_index do |game_piece| %>
                  <div class="col-lg-2 col-sm-2">
                    <label for=<%= 'opponent_category_id_' + game_piece.id.to_s %>>
                      <% if @eligible_game_pieces.include?(game_piece.id) %>
                          <div id=<%= game_piece.category_id %> data-add-border-challenge-opponent>
                            <%= radio_button_tag :opponent_category_id, game_piece.category_id, game_piece.category_id == @chosen_opponent_category_id, :style => 'display:none;' %>
                            <img class="image-icon" src=<%= image_path(game_piece.image_url) %> />
                            <span class="opponent-character selected-category-checkmark-challenge hidden">&#x2714;</span>
                          </div>
                      <% else %>
                          <img class="image-icon image-opaque" src=<%= image_path(game_piece.image_url) %>/>
                      <% end %>
                    </label>
                  </div>
              <% end %>
              <div class="clearfix"></div>
            </div>
            <hr/>
            <h2 class="text-center">Choose a Character to Wager</h2>
            <hr/>
            <div>
              <% @game_pieces.each_with_index do |game_piece| %>
                  <div class="col-lg-2 col-sm-2">
                    <label for=<%= 'wager_category_id_' + game_piece.id.to_s %>>
                      <% if @player_game_pieces.include?(game_piece.id) %>
                          <div id=<%= game_piece.category_id %> data-add-border-challenge-wager>
                            <%= radio_button_tag :wager_category_id, game_piece.category_id, game_piece.category_id == @chosen_wager_category_id, :style => 'display:none;' %>
                            <img class="image-icon" src=<%= image_path(game_piece.image_url) %> />
                            <span class="wager-character selected-category-checkmark-challenge hidden">&#x2714;</span>
                          </div>
                      <% else %>
                          <img class="image-icon image-opaque" src=<%= image_path(game_piece.image_url) %>/>
                      <% end %>
                    </label>
                  </div>
              <% end %>
              <div class="clearfix"></div>
            </div>
          </div>
      <hr/>
      <div class="col-lg-offset-2 col-sm-offset-2 disabled">
        <%= submit_tag 'Play', :class => 'btn btn-lg btn-success col-lg-10 col-sm-10 disabled', :id => 'choose-category-submit' %>
        <div class="clearfix"></div>
      </div>
  <% end %>
</div>
<hr/>
