<div class="text-center">
<h2>Choose the Character You Want</h2>
</div>
<hr/>
<div class="media-body">
<%= form_tag(question_path, method: :get, multipart: true) do %>
    <%= hidden_field_tag :game_id, @game.id %>
      <!--TODO: set based on from path-->
      <%= hidden_field_tag :is_crown, true %>
      <%= hidden_field_tag :is_challenge, false %>
    <% @game_pieces_in_threes.each_with_index do |game_piece_array| %>
        <div class="row">
          <div class="col-lg-offset-3 col-sm-offset-1">
            <% game_piece_array.each_with_index do |game_piece| %>
            <div class="col-lg-3 col-sm-4">
              <label for=<%= 'category_id_' + game_piece.id.to_s %>>
                <% if @player_game_pieces.include?(game_piece.id) %>
                    <img class="image-icon image-opaque" src=<%= image_path(game_piece.image_url) %>/>
                <% else %>
                    <div id=<%= game_piece.category_id %> data-add-border>
                      <%= radio_button_tag :category_id, game_piece.category_id, game_piece.category_id == @chosen_category, :style => 'display:none;' %>
                      <%= image_tag( game_piece.image_url) %>
                      <span class="selected-category-checkmark hidden">&#x2714;</span>
                    </div>
                <% end %>
              </label>
            </div>
            <% end %>
            <div class="clearfix"></div>
          </div>
          <br/>
        </div>
    <% end %>
          <hr/>
          <div class="col-lg-offset-2 col-sm-offset-2 disabled">
            <%= submit_tag 'Play', :class => 'btn btn-lg btn-success col-lg-10 col-sm-10 disabled', :id => 'choose-category-submit' %>
            <div class="clearfix"></div>
          </div>
  <% end %>
</div>
<hr/>
