<div class="media">
  <div class="media-body">
      <div class="row col-lg-12 col-sm-12 media-heading">
        <h4 class="row col-lg-12 col-sm-12 text-center">Round <%= @game.round %></h4>
        <div class="clearfix"></div>
        <hr/>
      </div>
      <div class="row col-lg-12 col-sm-12">
        <div class="col-lg-6 col-sm-6 text-center divider-right">
          <div class="row">
              <div class="col-lg-6 col-sm-6">
                <% if current_user.image.nil? == false %>
                    <% if current_user.provider == 'facebook' %>
                        <img class="image-icon-small" src=<%= current_user.image + '?width=100&height=100' %>>
                    <% else %>
                        <img class="image-icon-small" src=<%= current_user.image %>>
                    <% end %>
                <% else %>
                    <img class="image-icon-small" src=<%= image_path('default-player-icon.png') %>>
                <% end %>
              </div>
              <div class="col-lg-3 col-sm-3">
                <% if current_user.username.nil? == false %>
                    <h5><%= current_user.username %></h5>
                <% else %>
                    <h5><%= current_user.email %></h5>
                <% end %>
              </div>
              <div class="clearfix"></div>
          </div>
          <br/>
          <div class="row col-lg-12 col-sm-12">
                <% @game_pieces.each do |game_piece| %>
                <div class="col-lg-2 col-sm-3" >
                  <% if @player_game_pieces.include?(game_piece.id) %>
                      <img class="image-icon" src=<%= image_path(game_piece.image_url) %>/>
                  <% else %>
                      <img class="image-icon image-opaque" src=<%= image_path(game_piece.image_url) %>/>
                  <% end %>
                </div>
            <% end %>
            <div class="clearfix"></div>
          </div>
          <br/>
        </div>
        <div class="col-lg-6 col-sm-6 text-center divider-left">
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <% if @opponent.image.nil? == false %>
                  <% if @opponent.provider == 'facebook' %>
                      <img class="image-icon-small" src=<%= @opponent.image + '?width=150&height=150' %>>
                  <% else %>
                      <img class="image-icon-small" src=<%= @opponent.image %>>
                  <% end %>
              <% else %>
                  <img class="image-icon-small" src=<%= image_path('default-player-icon.png') %>>
              <% end %>
            </div>
            <div class="col-lg-3 col-sm-3">
              <% if @opponent.username.nil? == false %>
                <h5><%= @opponent.username %></h5>
              <% else %>
                  <h5><%= @opponent.email %></h5>
              <% end %>
            </div>
          </div>
          <br/>
          <div class="row col-lg-12 col-sm-12">
            <% @game_pieces.each do |game_piece| %>
                <div class="col-lg-2 col-sm-3" >
                  <% if @opponent_game_pieces.include?(game_piece.id) %>
                    <img class="image-icon" src=<%= image_path(game_piece.image_url) %>/>
                  <% else %>
                    <img class="image-icon image-opaque" src=<%= image_path(game_piece.image_url) %>/>
                  <% end %>
                </div>
            <% end %>
          </div>
          <br/>
        </div>
        <div class="clearfix"></div>
      </div>
    <div class="clearfix"></div>
    <hr/>
    <div class="col-lg-12 col-sm-12">
      <div class="col-lg-offset-3 col-sm-offset-3">
            <img id='spinner_image' style='z-index: 1000;' class="row col-lg-8 col-sm-8" src=<%= image_path('Gameplay/SpinnerCropped.gif') %>>
        <%= link_to  gameplay_spin_path(@game.id), remote: true do %>
            <img id='spinner_button' class="spinner-button" src=<%= image_path('Gameplay/SpinButton.gif') %>>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr/>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="col-lg-offset-2 col-sm-offset-1 row">
            <% [1,2,3].each do |crown_ind| %>
                <% if @player_game_detail.correct_answers >= crown_ind %>
                    <div class="col-lg-2 col-sm-2 crown-ind-box full"></div>
                <% else%>
                  <div class="col-lg-2 col-sm-2 crown-ind-box empty"></div>
                <% end %>
            <% end %>
        </div>
      </div>
    </div>
    <br>
      <div class="row col-lg-12 col-sm-12">
        <div class="col-lg-offset-3 col-sm-offset-3">
          <% if @player_game_detail.correct_answers >= 3 %>
              <%= link_to 'Crown', '#',
                      class: 'btn btn-lg btn-primary col-lg-8 col-sm-8',
                      'data-target' => '#crown_modal',
                      'data-toggle' => 'modal'  %>
          <% else %>
              <button type="button" class='btn btn-lg btn-primary col-lg-8 col-sm-8 disabled'>Crown</button>
          <% end %>
        </div>
        <div class="clearfix"></div>
        <hr/>
      </div>
    <hr/>
    <%= render 'gameplay/modals/crown_modal' %>
  </div>
  <%= audio_tag('spinning_wheel.mp3', controls: true, id:'spinning_wheel_audio', class: 'hidden') %>
</div>

<div id="play_modal_div"></div>
<%= render 'gameplay/modals/message_modal' %>
<% if (@player_game_detail.shown_crown_message? == false && @player_game_detail.correct_answers >= 3) %>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#message_modal').modal('show');
        });
    </script>
<% end %>
