document.getElementById('spinning_wheel_audio').play();
setTimeout(function(){
    $('#spinner_image').rotate({
        animateTo: <%= @rotation.to_i %>,
        duration: 6200,
        callback: function(){
            if(<%= @random_category_id == -1 %>){
                $('#crown_modal').attr('data_keyboard', 'false');
                $('#crown_modal').attr('data-backdrop', 'static');
                $('#crown_dismiss_button').addClass('hidden');
                $('#crown_modal').modal('show');
            } else{
                $('#play_modal_div').append("<%= j render 'gameplay/modals/play_modal' %>");
                $("#play_category_header").text('<%= @category_string.to_s.capitalize %>');
                $("#play_category_image").attr('src', '<%= image_url(@category_image_url) %>');
                $('#play_modal').modal('show');
            }
        }
    });
}, 500);