<div class="media">
  <div class="media-body">
    <h4>Submit a question to be reviewed for use within Trivia Crack. All submitted questions will go through a thorough
    process to ensure accuracy.</h4>
    <hr/>
    <%= form_for :question, :url => create_question_path do |f| %>
        <p>
          <%= f.label :question, class: 'col-lg-2 col-sm-2' %>
          <%= f.text_field :question_string, class: 'col-lg-9 col-sm-9' %>
        </p>
        <div class="clearfix"></div>
        <hr/>
        <p>
          <%= fields_for :correct_answer, @correct_answer do |c| %>
              <%= c.label :correct_answer, class: 'col-lg-2 col-sm-2' %>
              <%= c.text_field :answer_string, class: 'col-lg-9 col-sm-9' %>
          <% end %>
        </p>
        <div class="clearfix"></div>
        <br/>
        <p>
          <%= fields_for :incorrect_answer_1 do |i1| %>
              <%= i1.label :incorrect_answer_1, class: 'col-lg-2 col-sm-2' %>
              <%= i1.text_field :answer_string, class: 'col-lg-9 col-sm-9' %>
          <% end %>
        </p>
        <div class="clearfix"></div>
        <br/>
        <p>
          <%= fields_for :incorrect_answer_2 do |i2| %>
              <%= i2.label :incorrect_answer_2, class: 'col-lg-2 col-sm-2' %>
              <%= i2.text_field :answer_string, class: 'col-lg-9 col-sm-9' %>
          <% end %>
        </p>
        <div class="clearfix"></div>
        <br/>
        <p>
          <%= fields_for :incorrect_answer_3 do |i3| %>
              <%= i3.label :incorrect_answer_3, class: 'col-lg-2 col-sm-2' %>
              <%= i3.text_field :answer_string, class: 'col-lg-9 col-sm-9' %>
          <% end %>
        </p>
        <div class="clearfix"></div>
        <br/>
        <label class="col-lg-2 col-sm-2">Category</label>
        <%= select_tag 'category_id', options_from_collection_for_select(@categories, 'id', 'name'), class: 'col-lg-9 col-sm-9' %>
        <div class="clearfix"></div>
        <br/>
        <div class="col-lg-2 col-sm-2"><b>Difficulty Level</b></div>
        <%= select_tag 'difficulty_level', options_for_select((1...11)), class: 'col-lg-9 col-sm-9' %>
        <div class="clearfix"></div>
        <br/>
        <div class='col-lg-offset-2 col-sm-offset-2'>
          <%= link_to 'Cancel', home_index_path, class:'btn btn-default' %>
          <%= f.submit 'Submit', class:'btn btn-primary' %>
        </div>
        <div class='clearfix'></div>
        <br/>
    <% end %>
  </div>
</div>