<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Game</h4>
      </div>
      <div class="modal-body">
        <div class="col-lg-12 col-sm-12">
          <h3 class="text-center">Select an Opponent</h3>
          <br/>
          <div class="text-center">
              <%= form_for @game_setup, :url => create_game_setup_path(@game_setup), method: :post do |f| %>
                <div class="col-lg-offset-3 col-sm-offset-3">
                <% [ :friends, :random ].each do |type| %>
                    <div class="col-lg-4 col-sm-4">
                        <label>
                            <%= f.radio_button :opponent_selection_type, type %>
                        <%= type.to_s.capitalize %></label>
                    </div>
                <% end %>
                <div class="clearfix"></div>
                </div>
                <hr/>
                <%= f.submit 'Play Now', class: 'btn btn-primary col-lg-offset-2 col-lg-8 col-sm-offset-2 col-sm-8' %>
            <% end %>
          </div>
        </div>
        <div class="clearfix"></div>
        <br/>
      </div>
    </div>
  </div>
</div>