<div class="modal fade" id="their_turn_modal" tabindex="-1" role="dialog" aria-labelledby="theirTurnModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="theirTurnModalLabel">It's currently your opponents turn</h3>
      </div>
      <div class="modal-body">
        <div class="col-lg-12 col-sm-12 text-center">
          <h4>But don't worry, you'll get a turn eventually!</h4>
        </div>
        <div class="clearfix"></div>
        <br/>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
        <br/>
      </div>
    </div>
  </div>
</div>