<br/>
<div class="col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10 row">
    <%= link_to '+ New Game',  '#', style: 'width:100%', class: 'btn btn-lg btn-success', 'data-target' => '#myModal', 'data-toggle' => 'modal'  %>
</div>
<div class="clearfix"></div>
<hr class=""/>
<% if @games.size > 0 %>
    <% if @your_turn_games.count > 0 %>
        <div class="your-turn-header">
          <div class="col-lg-12 col-sm-12">
            <h4>Your Turn</h4>
          </div>
        </div>
        <hr class="hr-margin-5"/>
        <div class="games-scrollpane">
            <% @your_turn_games.each do |game| %>
                <% @opponent = get_opponent(game) %>
                    <%= link_to gameplay_spinner_path(game) do %>
                    <div class="row selectable-row">
                      <div class="col-lg-1 col-sm-1">
                        <% if @opponent.image.nil? == false %>
                            <% if @opponent.provider == 'facebook' %>
                                <img style="width: 100%; height: 100%;" src=<%= @opponent.image + '?width=150&height=150' %>>
                            <% else %>
                                <img style="width: 100%; height: 100%;" src=<%= @opponent.image %>>
                            <% end %>
                        <% else %>
                            <img style="width: 100%; height: 100%;" src=<%= image_path('default-player-icon.png') %>>
                        <% end %>
                      </div>
                      <div class="col-lg-3 col-sm-3">
                        <% if @opponent.username.nil? == false %>
                            <h5><%= @opponent.username %></h5>
                        <% else %>
                            <h5><%= @opponent.email %></h5>
                        <% end %>
                        <span>Round <%= game.round %></span>
                      </div>
                      <div class="col-lg-offset-5 col-lg-2 col-sm-offset-5 col-sm-2">
                        <div class="col-lg-6 col-sm-6 text-center divider-right">
                          <h5>You</h5>
                          <div><%= get_user_score(game) %></div>
                        </div>
                        <div class="col-lg-6 col-sm-6 text-center divider-left">
                          <h5>Rival</h5>
                          <div><%= get_opponent_score(game) %></div>
                        </div>
                      </div>
                    </div>
                    <% end %>
                    <hr class="hr-margin-5"/>
            <% end %>
        </div>
    <% end %>
    <br/>
    <% if @their_turn_games.count > 0 %>
        <div class="their-turn-header">
          <div class="col-lg-12 col-sm-12">
            <h4>Their Turn</h4>
          </div>
        </div>
        <hr class="hr-margin-5"/>
        <div class="games-scrollpane">
            <% @their_turn_games.each do |game| %>
                <% @opponent = get_opponent(game) %>
                    <%= link_to '#','data-target' => '#their_turn_modal', 'data-toggle' => 'modal' do  %>
                        <div class="row selectable-row">
                          <div class="col-lg-1 col-sm-1">
                            <% if @opponent.image.nil? == false %>
                                <% if @opponent.provider == 'facebook' %>
                                    <img style="width: 100%; height: 100%;" src=<%= @opponent.image + '?width=100&height=100' %>>
                                <% else %>
                                    <img style="width: 100%; height: 100%;" src=<%= @opponent.image %>>
                                <% end %>
                            <% else %>
                                <img style="width: 100%; height: 100%;" src=<%= image_path('default-player-icon.png') %>>
                            <% end %>
                          </div>
                          <div class="col-lg-3 col-sm-3">
                            <% if @opponent.username.nil? == false %>
                                <h5><%= @opponent.username %></h5>
                            <% else %>
                                <h5><%= @opponent.email %></h5>
                            <% end %>
                            <span>Round <%= game.round %></span>
                          </div>
                          <div class="col-lg-offset-5 col-lg-2 col-sm-offset-5 col-sm-2">
                            <div class="col-lg-6 col-sm-6 text-center divider-right">
                              <h5>You</h5>
                              <div><%= get_user_score(game) %></div>
                            </div>
                            <div class="col-lg-6 col-sm-6 text-center divider-left">
                              <h5>Rival</h5>
                              <div><%= get_opponent_score(game) %></div>
                            </div>
                          </div>
                        </div>
                    <% end %>
                <hr class="hr-margin-5"/>
            <% end %>
        </div>
    <% end %>
    <br/>
    <% if @finished_games.count > 0 %>
        <div class="finished-games-header">
          <div class="col-lg-12 col-sm-12">
            <h4>Finished Games</h4>
          </div>
        </div>
        <hr class="hr-margin-5"/>
        <div class="games-scrollpane">
            <% @finished_games.each do |game| %>
                <% @opponent = get_opponent(game) %>
                    <div class="row selectable-row">
                      <div class="col-lg-1 col-sm-1">
                        <% if @opponent.image.nil? == false %>
                            <% if @opponent.provider == 'facebook' %>
                                <img style="width: 100%; height: 100%;" src=<%= @opponent.image + '?width=100&height=100' %>>
                            <% else %>
                                <img style="width: 100%; height: 100%;" src=<%= @opponent.image %>>
                            <% end %>
                        <% else %>
                            <img style="width: 100%; height: 100%;" src=<%= image_path('default-player-icon.png') %>>
                        <% end %>
                      </div>
                      <div class="col-lg-3 col-sm-3">
                        <% if @opponent.username.nil? == false %>
                            <h5><%= @opponent.username %></h5>
                        <% else %>
                            <h5><%= @opponent.email %></h5>
                        <% end %>
                      </div>
                      <div class="col-lg-offset-5 col-lg-2 col-sm-offset-5 col-sm-2">
                        <div class="col-lg-6 col-sm-6 text-center divider-right">
                          <h5>You</h5>
                          <div><%= get_user_score(game) %></div>
                        </div>
                        <div class="col-lg-6 col-sm-6 text-center divider-left">
                          <h5>Rival</h5>
                          <div><%= get_opponent_score(game) %></div>
                        </div>
                      </div>
                    </div>
                    <hr class="hr-margin-5"/>
            <% end %>
        </div>
    <% end %>
<% end %>

<%= render 'home/new_game_modal' %>
<%= render 'home/their_turn_modal' %>