<div class="container">
    <h2>Welcome to Trivia Zap!</h2>
    <h4><%= link_to 'Login', new_user_session_path %> or <%= link_to 'Create an Account', new_user_registration_path %> to get started!</h4>
    <br/>
</div>
