<div class="media">
  <div class="media-body">
    <h2 class="text-center">Review Questions</h2>
    <hr/>
    <!--pagination top-->
    <div class="text-center">
      <p>Page <%= @current_page + 1 %> of <%= @total_pages %></p>
      <%= link_to 'Prev', review_questions_path(@current_page - 1), class: (@current_page == 0 ? 'btn disabled' : 'btn') %>
      <% (0...@total_pages).each do |page_number| %>
          <%=  link_to_if page_number != @current_page, (page_number + 1), review_questions_path(page_number), class: 'btn' do %>
              <span class="btn"><%= page_number + 1 %></span>
          <% end %>
      <% end %>
      <%= link_to 'Next', review_questions_path(@current_page + 1), class: (@current_page + 1 == @total_pages ? 'btn disabled' : 'btn') %>
    </div>
    <hr/>

    <% @questions.each do |question| %>
        <h4 class="col-lg-offset-1 col-sm-offset-1 col-lg-11 col-sm-11">
          Category: <%= question.category.name.capitalize %> | Difficulty Level: <%= question.difficulty_level %>
        </h4>
        <div class="clearfix"></div>
        <h4 class="col-lg-offset-1 col-sm-offset-1 col-lg-8 col-sm-8"><%= question.question_string %></h4>
        <div class="btn-toolbar">
          <%= link_to 'Approve', approve_question_path(question.id, @current_page), class:'btn btn-sm btn-success' %>
          <%= link_to 'Deny', deny_question_path(question.id, @current_page), class:'btn btn-sm btn-danger' %>
        </div>
        <div class="clearfix"></div>
        <% get_answers(question.id).each do |answer| %>
            <div class="col-lg-offset-2 col-sm-offset-2 <%= answer.is_correct ? 'correct_answer' : 'incorrect_answer' %>"><%= answer.answer_string %></div>
        <% end %>
        <hr/>
    <% end %>

    <!--pagination bottom-->
    <hr/>
    <div class="text-center">
      <%= link_to 'Prev', review_questions_path(@current_page - 1), class: (@current_page == 0 ? 'btn disabled' : 'btn') %>
      <% (0...@total_pages).each do |page_number| %>
        <%=  link_to_if page_number != @current_page, (page_number + 1), review_questions_path(page_number), class: 'btn' do %>
          <span class="btn"><%= page_number + 1 %></span>
        <% end %>
      <% end %>
      <%= link_to 'Next', review_questions_path(@current_page + 1), class: (@current_page + 1 == @total_pages ? 'btn disabled' : 'btn') %>
      <p>Page <%= @current_page + 1 %> of <%= @total_pages %></p>
    </div>
    <hr/>
  </div>
</div>