<div class="modal fade" id="crown_modal" tabindex="-1" role="dialog" aria-labelledby="crownModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="crown_dismiss_button">&times;</button>
        <h4 class="modal-title" id="crownModalLabel">Crown or Challenge</h4>
      </div>
      <div class="modal-body">
        <div class="col-lg-12 col-sm-12">
          <h3 class="text-center">Choose what to play!</h3>
          <br/>
          <%= link_to 'Crown', gameplay_choose_category_path(@game),
                      class: 'btn btn-primary col-lg-offset-1 col-lg-4 col-sm-offset-1 col-sm-4' %>
          <% if challenge_available(@player_game_pieces, @opponent_game_pieces) == false %>
            <button type="button" class="btn btn-primary col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4 disabled">Challenge</button>
          <% else %>
              <%= link_to 'Challenge', challenge_select_pieces_path(@game),
                          class: 'btn btn-primary col-sm-offset-2 col-sm-4' %>
          <% end %>
        </div>
        <div class="clearfix"></div>
        <br/>
        <% if challenge_available(@player_game_pieces, @opponent_game_pieces) == false %>
            <hr/>
            <div class="warning">
              <h4 class="text-center label-warning">Challenge Not Available</h4>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>