<div class="modal fade" id="message_modal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Congratulations!</h4>
      </div>
      <div class="modal-body">
        <div class="col-lg-12 col-sm-12 text-center">
          <h3>Crown is Available!</h3>
        </div>
        <div class="clearfix"></div>
        <br/>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
        <br/>
      </div>
    </div>
  </div>
</div>