<div class="modal fade" id="play_modal" tabindex="-1" role="dialog" aria-labelledby="playModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center" id="play_category_header"></h2>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <img class="text-center" id="play_category_image"/>
        </div>
        <hr/>
        <div class="col-lg-12 col-sm-12">
          <%= link_to 'Play', question_with_params_path(@game_id, @random_category_id, :false, :false), class: 'btn btn-primary col-lg-offset-2 col-lg-8 col-sm-offset-2 col-sm-8' %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>