<hr/>
<div class="text-center">
  <%= form_for (QuestionRating.new), remote: true do |f| %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= hidden_field_tag :question_id, @question.id %>
      <span class="starRating">
          <%= radio_button_tag :rating, 5 %>
          <%= label :rating, '5' %>
          <%= radio_button_tag :rating, 4 %>
          <%= label :rating, '4' %>
          <%= radio_button_tag :rating, 3 %>
          <%= label :rating, '3' %>
          <%= radio_button_tag :rating, 2 %>
          <%= label :rating, '2' %>
          <%= radio_button_tag :rating, 1 %>
          <%= label :rating, '1' %>
      </span>
      <br/>
      <br/>
      <%= f.submit 'Submit', :class => 'btn btn-success disabled', id: 'question-rating-submit'  %>
  <% end %>
</div>
<hr/>