$('#rate-question-button').addClass('disabled');
$('#question-rating-form').html("<%= j (render 'form') %>");
$('#question-rating-form').slideDown(350);



$("input[name='rating']").click(function(){
    $('#question-rating-submit').removeClass('disabled')
});
