<div class="row">
  <div class="col-lg-offset-1 col-sm-offset-1">
        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field row col-lg-5 col-sm-5">
            <%= f.label :email %><br />
            <%= f.email_field :email, class:'form-control', autofocus: true %>
          </div>
        <div class="clearfix"></div>

          <div class="field row col-lg-5 col-sm-5">
            <%= f.label :password %><br />
            <%= f.password_field :password, class:'form-control', autocomplete: "off" %>
          </div>
        <div class="clearfix"></div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", class:'btn btn-primary' %>
          </div>
        <% end %>
  </div>
  <hr/>
</div>
  <div class="row">
    <div class="col-lg-offset-1 col-sm-offset-1">
        <%= render "devise/shared/links" %>
    </div>
  </div>
<br/>