<header>
    <h1>Trivia Crack</h1>
</header>
<div>
    <h3>Login</h3>
</div>
<div>
    <div>Username</div>
    <input type="text"/>
    <div>Password</div>
    <input type="password"/>
    <br/>
    <button type="button">Login</button>
    <button type="button">Cancel</button>
</div>