<div class="modal fade"
     id="answer_result_modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true"
     data-backdrop="static"
     data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <% if @power_up_skip == true %>
            <h3 class="text-center">Question Skipped</h3>
        <% elsif @did_not_answer == true %>
            <h3 class="text-center">Time's Up!</h3>
        <% elsif @game.finished? == true || (@chosen_answer != nil && @chosen_answer.is_correct) %>
            <h3 class="text-center">Congratulations!</h3>
        <% elsif @player_tried_to_re_answer %>
            <h3 class="text-center">Trying to re-answer, eh?</h3>
        <% else %>
            <h3 class="text-center">Ooooh, too bad!</h3>
        <% end %>

      </div>
      <div class="modal-body">
        <div class="col-lg-12 col-sm-12">
          <% if @power_up_skip %>
              <h4 class="text-center">Good thing you had those coins!</h4>
          <% elsif @game.finished? == true %>
              <h4 class="text-center">You Won the Game!</h4>
          <% elsif @player_tried_to_re_answer %>
            <h4 class="text-center">No Can Do!</h4>
          <% elsif @did_not_answer == true %>
              <h4 class="text-center">So sorry!</h4>
          <% elsif (@chosen_answer != nil && @chosen_answer.is_correct) %>
            <h4 class="text-center">You answered correctly!</h4>
          <% else %>
              <h4 class="text-center">That answer just wasn't good enough!</h4>
          <% end %>

          <br/>
          <div class="text-center" id="rate-question-button-div">
            <%= link_to 'Rate this Question', show_question_rating_path(@question.id), class: 'btn btn-primary', id: 'rate-question-button', remote: true %>
          </div>
          <div id="question-rating-form" style="display:none;"></div>
          <div id="thank-you-message" style="display:none;"></div>
          <br/>

          <div class="text-center">
            <% if @is_challenge == :true.to_s %>
                <%= link_to 'Next Question', challenge_next_question_path(@game.id, @challenge.id), class:'btn btn-success' %>
            <% elsif (@chosen_answer != nil && @chosen_answer.is_correct? == true) || @power_up_skip == true %>
                <%= link_to 'Back to Game', gameplay_spinner_path(@game), class:'btn btn-success' %>
            <% else %>
                <%= link_to 'Home', home_index_path, class:'btn btn-success' %>
            <% end %>
          </div>
        </div>
        <div class="clearfix"></div>
        <br/>
      </div>
    </div>
  </div>
</div>