<div>
    <h2 class="text-center">Select an Opponent</h2>
    <hr/>
    <div class="col-lg-12 col-sm-12">
      <%= form_tag(select_opponent_path(0), method: :get) do %>
          <%= text_field_tag :keyword, nil, class:'field col-lg-offset-1 col-lg-7 col-sm-offset-1 col-sm-7', placeholder:'Search by Username or Email...' %>
        <!--<input type="text" class="field col-lg-offset-1 col-lg-7 col-sm-offset-1 col-sm-7" placeholder="Search by Username or Email..."/>-->
        <%= submit_tag 'Search', class:'btn btn-primary col-lg-offset-1 col-lg-2 col-sm-offset-1 col-sm-2 ' %>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <hr/>
    <%= form_tag(create_game_with_opponent_path, method: :get, multipart: true) do %>
      <div class="col-lg-12 col-sm-12">
        <%= submit_tag 'Play', :class => 'btn btn-lg btn-success col-lg-offset-1 col-lg-10 disabled col-sm-offset-1 col-sm-10', :id => 'choose-category-submit' %>
      </div>
      <div class="clearfix"></div>
      <hr/>
        <% @players.each do |player| %>
            <div class="col-lg-2 col-sm-2">
              <label for=<%= 'opponent_id_' + player.id.to_s %>>
                  <div class="text-center " id=<%= player.id %> data-add-border>
                    <%= radio_button_tag :opponent_id, player.id, true, :style => 'display:none;' %>
                    <% if player.image.nil? == false %>
                        <% if player.provider == 'facebook' %>
                            <img class="image-icon" src=<%= player.image + '?width=150&height=150' %>>
                        <% else %>
                            <img class="image-icon" src=<%= player.image %>>
                        <% end %>
                    <% else %>
                        <img class="image-icon" src=<%= image_path('default-player-icon.png') %>>
                    <% end %>
                  </div>
              </label>
              <p class="text-center" style="font-size: 9px;">
                <% if player.username.nil? == false %>
                    <%= player.username %>
                <% else %>
                    <%= player.email %>
                <% end %>
              </p>
            </div>
        <% end %>
      <div class="clearfix"></div>
    <% end %>
  <% if @total_pages > 1 %>
      <div class="text-center">
        <%= link_to 'Prev', select_opponent_path(@current_page - 1, @keyword), class: (@current_page == 0 ? 'btn disabled' : 'btn') %>
        <% (0...@total_pages).each do |page_number| %>
            <%=  link_to_if page_number != @current_page, (page_number + 1), select_opponent_path(page_number, @keyword), class: 'btn' do %>
                <span class="btn"><%= page_number + 1 %></span>
            <% end %>
        <% end %>
        <%= link_to 'Next', select_opponent_path(@current_page + 1, @keyword), class: (@current_page + 1 == @total_pages ? 'btn disabled' : 'btn') %>
        <p>Page <%= @current_page + 1 %> of <%= @total_pages %></p>
      </div>
      <div class="clearfix"></div>
  <% end %>
  <hr/>
</div>