@import "bootstrap-sprockets";
@import "bootstrap";
@import "profile";
@import "home";
@import "gameplay";
@import "question_rating";
@import "question_review";

#opponent-search-dropdown .tt-dropdown-menu {
  max-height: 150px;
  width: 200px;
  overflow-y: auto;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.adsbygoogle{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.left-nav{
  margin-top: 20px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-top-30{
  margin-top: 30px;
}

.vertical-divider {
  width: 1px;
  border-right: 1px solid black;
}

.divider-right {
  border-right: 0.5px solid darkgray;
}

.divider-left {
  border-left: 0.5px solid darkgray;
}

.hr-margin-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.image-icon-large{
  width: 140%;
  height: 140%;
}

.image-icon{
  width: 100%;
  height: 100%;
}

.image-icon-medium{
  width: 60%;
  height: 60%;
}


.image-icon-small{
  width: 30%;
  height: 30%;
}

.title-red{
  padding: 25px;
  border: 1px solid red;
  border-radius: 10%;
  background-color: red;
  color: white;
}