// Place all the styles related to the Gameplay controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question-box{
  height: 150px;
  border: 4px solid black;
  display: table;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.answer-choice-box{
  border: 4px solid black;
  height: 65px;
  display: table;
}

.correct-answer{
  background-color: green;
  color: white;
}

.incorrect-answer {
  background-color: red;
  color: white;
}

.answer-choice-box-selectable{
  border: 4px solid black;
  height: 65px;
  display: table;
  margin-bottom: 20px;
}

.answer-choice-box-selectable:hover{
  border: 4px solid blue;
  color: blue;
  cursor: pointer;
  display: table;
  margin-bottom: 20px;
}

.category-border {
  border: 2px solid blue;
  box-shadow: 10px 10px 5px #888888;
}

.selected-category-checkmark {
  position: relative;
  bottom: 40px;
  right: 40px;
  color: greenyellow;
  text-shadow: 1px 1px #888888;
  font-size: 24px;
}

.category-border-challenge {
  border: 2px solid blue;
  box-shadow: 10px 10px 5px #888888;
}

.selected-category-checkmark-challenge {
  position: relative;
  bottom: 120px;
  left: 120px;
  color: greenyellow;
  text-shadow: 1px 1px #888888;
  font-size: 14px;
}

.hidden {
  display: none;
}

.crown-ind-box {
  border: 2px solid black;
  width: 24%;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.full {
  background-color: gold;
}

.empty {
  background-color: white;
}

.image-opaque {
  opacity: 0.15;
  filter: alpha(opacity=15);
}

.games-scrollpane {
  max-height: 308px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 767px) {
  .spinner-button {
    z-index: 1040;
    position: relative;
    right: 346px;
    top: 180px;
  //    zoom: 0.4;
  //    transform: scale(0.4);
  //    transform-origin: 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .spinner-button {
    z-index: 1040;
    position: relative;
    right: 214px;
    top: 96px;
    width: 22%;
    height: 22%;
//    zoom: 0.2;
//    transform: scale(0.2);
//    transform-origin: 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .spinner-button {
    z-index: 1040;
    position: relative;
    right: 41%;
    top: 182px;
//    zoom: 0.9;
//    transform: scale(0.9);
//    transform-origin: 0 0;
  }
}