// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.your-turn-header {
  height: 40px;
  background-color: green;
  color: white;
}
.finished-games-header {
  height: 40px;
  background-color: red;
  color: white;
}

.their-turn-header {
  height: 40px;
  background-color: darkorange;
  color: white;
}
//
//.divider-right {
//  border-right: 0.5px solid gray;
//}
//
//.divider-left {
//  border-left: 0.5px solid gray;
//}

.selectable-row:hover {
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}

