// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.progress-bar-text-left{
  text-align: left;
  margin-left: 5px;
}

.progress-bar-text-right{
  text-align: right;
  margin-right: 5px;
}

.progress-header {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  background-color: green;
  color: white;
}

.weekly-header {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  background-color: red;
  color: white;
}

.category-header {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  background-color: deepskyblue;
  color: white;
}

.overall-header {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  background-color: blue;
  color: white;
}

.challenge-header {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  background-color: orangered;
  color: white;
}

.trophy-icon {
  width: 70%;
  height: 100%;
}

.category-icon {
  width: 50%;
  height: 50%;
}

.image-icon {
  width: 100%;
  height: 100%;
}

.green-text{
  color: rgb(92, 184, 92);
}

.red-text{
  color: rgb(217, 83, 79);
}
.orange-text{
  color: orange;
}