// Place all the styles related to the QuestionReview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.correct_answer {
  color: green;
}

.incorrect_answer {
  color: red;
}