<h2>Player Profile</h2>
<div class="clearfix"></div>
<hr class="hr-margin-5"/>

<div class="row">
    <% if current_user %>
      <div class="col-lg-2 col-sm-3">
        <% if current_user.image.nil? == false %>
              <% if current_user.provider == 'facebook' %>
                  <img class="image-icon" src=<%= current_user.image + '?width=150&height=150' %>>
              <% else %>
                  <img class="image-icon" src=<%= current_user.image %>>
              <% end %>
        <% else %>
          <img class="image-icon" src=<%= image_path('default-player-icon.png') %>>
        <% end %>
      </div>
        <div class="col-lg-3 col-sm-4">
              <% if current_user.username.nil? == false %>
                  <h4><%= current_user.username %></h4>
              <% else %>
                  <h4><%= current_user.email %></h4>
              <% end %>
            <%= link_to 'Edit Profile', edit_user_registration_path, :class=> 'btn btn-sm btn-primary' %>
          <br/>
          <br/>
        </div>
    <% end %>
</div>
<hr class="hr-margin-5"/>

<h4 class="progress-header col-lg-12 col-sm-12">Progress</h4>
<div class="clearfix"></div>
<hr class="hr-margin-5"/>
<div class="row col-lg-offset-2 col-sm-offset-2">
  <div class="col-lg-2 col-sm-3">
    <img class="image-icon" src=<%= image_path('default-player-icon.png') %>>
  </div>
    <div class="col-lg-6 col-sm-6">
      <p class="row text-center">You have answered <%= @correct_answer_count %> questions correctly</p>
      <br/>
      <h4 class="row text-center">Level <%= current_user.level %></h4>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%= get_level_up_percentage %>"
             aria-valuemin="0" aria-valuemax="100" style="width:<%= get_level_up_percentage.to_s + '%' %>">
          <%= get_level_up_percentage.to_s + '%' %>
        </div>
      </div>
    </div>
</div>
<hr class="hr-margin-5"/>

<h4 class="weekly-header col-lg-12 col-sm-12">Weekly Ranking</h4>
<div class="clearfix"></div>
<hr class="hr-margin-5"/>
<div class="row col-lg-offset-2 col-sm-offset-2">
  <div class="col-lg-3 col-sm-3 divider-right">
    <h5 class="row text-center">1st Place</h5>
    <div class="text-center">
      <img class="trophy-icon text-center" src=<%= image_path('TrophyIcons/gold-medal.jpg') %>>
    </div>
    <p class="text-center">Won 4</p>
  </div>
  <div class="col-lg-3 col-sm-3 divider-left divider-right">
    <h5 class="row text-center">2nd Place</h5>
    <div class="text-center">
      <img class="trophy-icon text-center" src=<%= image_path('TrophyIcons/silver-medal.jpg') %>>
    </div>
    <p class="text-center">Won 0</p>
  </div>
  <div class="col-lg-3 col-sm-3 divider-left">
    <h5 class="row text-center">3rd Place</h5>
    <div class="text-center">
      <img class="trophy-icon text-center" src=<%= image_path('TrophyIcons/bronze-medal.jpg') %>>
    </div>
    <p class="text-center">Won 0</p>
  </div>
</div>
<hr class="hr-margin-5"/>

<h4 class="category-header col-lg-12 col-sm-12">Category Performance</h4>
<div class="clearfix"></div>
<hr class="hr-margin-5"/>
<div class="">
<% @game_pieces_in_twos.each do |game_piece_slice| %>
    <div class="row col-lg-offset-2 col-sm-offset-1">
      <% game_piece_slice.each_with_index do |game_piece, index| %>
          <% if(index.even?) %>
            <div class="col-lg-5 col-sm-5 divider-right">
              <h4 class="text-center"><%= get_category_name(game_piece.category_id).upcase %></h4>
              <div class="col-lg-6 col-sm-6 text-center">
                <img class="category-icon" src=<%= image_path(game_piece.image_url) %>>
              </div>
              <div class="col-lg-4 col-sm-6 text-center">
                  <h4><%= get_percentage_by_category(game_piece.category_id) %>%</h4>
                  <p>Questions: <%= get_total_questions_by_category(game_piece.category_id) %></p>
              </div>
              <div class="clearfix"></div>
            </div>
          <% else %>
              <div class="col-lg-5 col-sm-5 divider-left">
                <h4 class="text-center"><%= get_category_name(game_piece.category_id).upcase %></h4>
                <div class="col-lg-6 col-sm-6 text-center">
                  <img class="category-icon" src=<%= image_path(game_piece.image_url) %>>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                  <h4><%= get_percentage_by_category(game_piece.category_id) %>%</h4>
                  <p>Questions: <%= get_total_questions_by_category(game_piece.category_id) %></p>
                </div>
                <div class="clearfix"></div>
              </div>
          <% end %>
      <% end %>
    </div>
    <hr/>
<% end %>
</div>

<h4 class="overall-header col-lg-12 col-sm-12">Overall Performance</h4>
<div class="clearfix"></div>
<hr class="hr-margin-5"/>
  <div class="row col-lg-offset-2 col-sm-offset-2 text-center">
    <div class="col-lg-3 col-sm-3 divider-right">
      <h2 class="row green-text"><%= get_number_of_games_won %></h2>
      <p>Won</p>
    </div>
    <div class="col-lg-3 col-sm-3 divider-left divider-right">
      <h2 class="row red-text"><%= get_number_of_games_lost %></h2>
      <p>Lost</p>
    </div>
    <div class="col-lg-3 col-sm-3 divider-left">
      <h2 class="row orange-text">0%</h2>
      <p>Resigned</p>
    </div>
  </div>
<hr class="hr-margin-5"/>


<h4 class="challenge-header col-lg-12 col-sm-12">Challenge Performance</h4>
<div class="clearfix"></div>
<hr class="hr-margin-5"/>
<br/>
  <div class="row col-lg-offset-3 col-sm-offset-3">
    <div class="col-lg-8 col-sm-8">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
            <p class="progress-bar-text-left"><%= get_number_of_challenges_won %></p>
          </div>
          <div class="progress-bar progress-bar-danger" role="progressbar" style="width:50%">
            <p class="progress-bar-text-right"><%= get_number_of_challenges_lost %></p>
          </div>
        </div>
        <p class="row text-center">Challenges Played: <%= get_number_of_challenges_played %></p>
    </div>
  </div>
<hr/>