<!DOCTYPE html>
<html>
<head>
  <title>Trivia Zap</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
      setTimeout(function () {
          var el = document.getElementById('alwaysFetch');
          el.value = el.value ? location.reload() : true;
      }, 0);
  </script>
  <% if current_user && current_user.role == GlobalConstants::PLAYER %>
      <center>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Triva Zap Banners -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px;"
             data-ad-client="ca-pub-0461589318354205"
             data-ad-slot="7984121962"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </center>
  <% end %>
</head>
<input id="alwaysFetch" type="hidden" />
<body class="unselectable">
<div class="container">
  <hr/>
  <ul class="left-nav col-lg-2 col-sm-2">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span>Menu</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <% if current_user && current_user.role == GlobalConstants::ADMIN %>
            <li><%= link_to 'Home', admin_admin_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% elsif current_user && current_user.role == GlobalConstants::PLAYER %>
            <li><%= link_to 'Home', home_index_path %></li>
            <li><%= link_to 'Profile', profile_view_path %></li>
            <li><%= link_to 'Submit Question', submit_question_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% elsif current_user && current_user.role == GlobalConstants::REVIEWER %>
            <li><%= link_to 'Home', review_questions_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </ul>
  <h2 class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-2">
    <img style="position: relative; left: 17%;" src=<%= image_path('triviazap_logo.jpg') %>>
  </h2>
  <% if current_user && current_user.role == GlobalConstants::PLAYER %>
      <%= link_to profile_view_path do %>
        <div class="col-lg-3 col-sm-4 margin-top-20 pull-right">
          <div class="col-lg-8 col-sm-7 text-right">
            <b>
                <% if current_user.username.nil? == false %>
                    <%= current_user.username %>
                <% else %>
                    <%= current_user.email %>
                <% end %>
            </b>
            <br/>
            <b>Level: </b><%= current_user.level %>
            <br/>
            <b>Coins: </b><span id="currency_header_amount"><%= current_user.currency %></span>
          </div>
          <div class="col-lg-4 col-sm-5">
                  <% if current_user.image.nil? == false %>
                      <% if current_user.provider == 'facebook' %>
                          <img class="image-icon" src=<%= current_user.image + '?width=150&height=150' %>>
                      <% else %>
                          <img class="image-icon" src=<%= current_user.image %>>
                      <% end %>
                  <% else %>
                      <img class="image-icon" src=<%= image_path('default-player-icon.png') %>>
                  <% end %>
          </div>
      <% end %>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <hr class="hr-margin-5"/>

  <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
  <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
  <% elsif flash[:alert] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
  <% end %>

  <%= yield %>
  <%= debug(params) if Rails.env.development? %>

  <footer class="panel-footer text-right">&copy 2015 TriviaZap, Inc. | All Rights Reserved</footer>
  <br/>
  <% if current_user && current_user.role == GlobalConstants::PLAYER %>
      <center>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Triva Zap Banners -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px;"
             data-ad-client="ca-pub-0461589318354205"
             data-ad-slot="7984121962"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </center>
  <% end %>
</div>
</body>
</html>

